<h1>TODO</h1>
<div class="container">
    <div class="alert alert-warning" *ngIf="todoForm.invalid">Please Fill all fileds</div>
    <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
        <fieldset class="form-group">
            <label>Description</label>
            <input type="text" [(ngModel)]="todo.description" class="form-control" name="description"
                required />
        </fieldset>

        <fieldset class="form-group">
            <label>Worker</label>
            <input type="text" [(ngModel)]="todo.worker" class="form-control" name="worker" required />
        </fieldset>

        <fieldset class="form-group">
            <label>Status</label>
            <input type="text" [(ngModel)]="todo.status" class="form-control" name="status" required />
        </fieldset>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
